---
import PostCard from "../../components/PostCard";
import PageLayout from "../../layouts/PageLayout.astro";
import {
  getPublishedPosts,
  getUniqueTags,
  sanitizeSlug,
} from "../../utils/helpers";

export async function getStaticPaths() {
  const posts = await getPublishedPosts();
  const tags = getUniqueTags(posts);

  return tags.map((tag) => {
    return {
      params: {
        slug: sanitizeSlug(tag),
      },
      props: {
        tag: tag,
        posts: posts.filter((post) => post.frontmatter.tags.includes(tag)),
      },
    };
  });
}

const { tag, posts } = Astro.props;
---

<PageLayout title="Tag">
  <main class="mt-4 flex flex-col gap-y-4">
    <div class="flex justify-between rounded-lg bg-gray-800 p-5 text-gray-200">
      <div class="font-bold">tag: <span class="text-xl">{tag}</span></div>
      <div>{posts.length} matches</div>
    </div>
    {posts.map((post) => <PostCard post={post} />)}
  </main>
</PageLayout>
