---
import Layout from "../../layouts/Layout.astro";
import getUniqueTags from "../../utils/getUniqueTags";

const posts = await Astro.glob("../../pages/posts/*.md");
const tags = getUniqueTags(posts);

const postPerTag = tags.map((tag) => ({
  tag: tag,
  posts: posts.reduce((acc, item, index, arr) => {
    if (item.frontmatter.tags.includes(tag)) {
      return (acc = acc + 1);
    } else {
      return acc;
    }
  }, 0),
}));
---

<Layout title="Tags">
  <div class="bg-gray-800 rounded-lg p-5 text-gray-200 mt-4 text-xl font-bold">Tags</div>
  <div class="flex flex-col bg-gray-800 rounded-lg p-5 mt-4 text-gray-300 gap-4">
    {
      postPerTag.map((tag) => (
        <a href={`/tags/${tag.tag}`}>
          <div class="flex justify-between">
            {tag.tag}
            <p class="text-gray-400">[ {tag.posts} ]</p>
          </div>
        </a>
      ))
    }
  </div>
</Layout>
