---
import PostCard from "../components/PostCard";
import Layout from "../layouts/Layout.astro";
const posts = await Astro.glob("../pages/posts/*.md");
---

<Layout title="Welcome">
  <main>
    {
      posts.map((post) => <PostCard post={post}/>)
    }
  </main>
</Layout>
