<footer class="flex flex-row justify-between mt-auto bg-gray-800 text-gray-400 text-sm px-12 py-4">
    <div>
        Copyright © 2019 - 2023
        <a href="/">Puntogris</a>
    </div>
    <div>
        Powered by 
        <a class="text-gray-100" href="https://astro.build/">Astro</a>
        <span class="px-2">&#x2022;</span>
        Design by 
        <a class="text-gray-100" href="https://puntogris.com/">Puntogris</a>
        <span class="px-2">&#x2022;</span>
        Inspired by 
        <a class="text-gray-100" href="https://blog.baoshuo.ren/">Baoshuo</a>
    </div>
</footer>
