<footer
  class="mt-auto flex flex-col items-center justify-between bg-gray-800 px-12 py-4 md:flex-row"
>
  <div class="text-sm text-gray-400">
    Copyright © 2019 - 2023
    <a href="/">Puntogris</a>
  </div>
  <div class="flex flex-wrap justify-center text-sm text-gray-400">
    <div>
      Powered by
      <a class="text-sm text-gray-100" href="https://astro.build/">Astro</a>
    </div>
    <span class="px-2">&#x2022;</span>
    <div>
      Design by
      <a class="text-sm text-gray-100" href="https://puntogris.com/"
        >Puntogris</a
      >
    </div>
  </div>
</footer>
