---
import BaseLayout from "./BaseLayout.astro";

const { title, frontmatter } = Astro.props;
---

<BaseLayout title={title}>
  <div class="container mx-auto my-4 max-w-5xl rounded-lg px-4 text-gray-300">
    <div class="rounded-lg bg-gray-800">
      <div class="pb-3">
        {
          frontmatter.image && (
            <img
              class="rounded-t-lg"
              src={frontmatter.image.url}
              alt={frontmatter.image.alt}
            />
          )
        }
        <p class="mb-2 px-4 pt-4 text-lg font-bold">{frontmatter.title}</p>
      </div>
      <div class="prose- prose prose-invert max-w-none px-4 pb-4">
        <slot />
      </div>
    </div>
  </div>
</BaseLayout>
