---
import Paginator from "../../components/Paginator";
import PostCard from "../../components/PostCard";
import Layout from "../../layouts/Layout.astro";
import { SITE } from "../../utils/config";
import getPageNumbers from "../../utils/getPageNumbers";
import getPublishedPosts from "../../utils/getPublishedPosts";

export async function getStaticPaths() {
  const posts = await getPublishedPosts();
  const pageNumbers = getPageNumbers(posts.length);
  const totalPages = Math.ceil(posts.length / SITE.postPerPage);

  return pageNumbers.map((page) => ({
    params: {
      slug: page,
    },
    props: {
      posts: posts.slice(
        page * SITE.postPerPage - SITE.postPerPage,
        page * SITE.postPerPage
      ),
      totalPages: totalPages,
    },
  }));
}

const { slug } = Astro.params;
const { posts, totalPages } = Astro.props;
---

<Layout title="Posts">
  <div class="flex flex-wrap justify-between">
    <div class="my-4 flex flex-grow flex-col gap-y-4">
      {posts.map((post) => <PostCard post={post} />)}
    </div>
    <Paginator
      currentPage={slug}
      totalPages={totalPages}
      index="/"
      route="/page"
      client:load
    />
  </div>
</Layout>
