---
import Paginator from "../../components/Paginator";
import PostCard from "../../components/PostCard";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const getPageNumbers = (numberOfPosts: number) => {
    const numberOfPages = numberOfPosts / Number(5);

    let pageNumbers: number[] = [];
    for (let i = 1; i <= Math.ceil(numberOfPages); i++) {
      pageNumbers = [...pageNumbers, i];
    }

    return pageNumbers;
  };

  const posts = await Astro.glob("../../pages/posts/*.md");
  const filteredPosts = posts.filter(({ frontmatter }) => !frontmatter.draft);
  const pagePaths = getPageNumbers(filteredPosts.length).map((pageNum) => ({
    params: {
      slug: pageNum,
    },
    props: {
      posts: filteredPosts.slice(pageNum * 5 - 5, pageNum * 5),
    },
  }));
  return pagePaths;
}

const { slug } = Astro.params;
const { posts } = Astro.props;
---

<Layout title="Posts">
  <div class="flex justify-between flex-wrap mb-4">
    <div class="flex flex-col gap-y-4 my-4 flex-grow">
      {posts.map((post) => <PostCard post={post} />)}
    </div>
    <Paginator currentPage={slug} totalPages={3} index="/" route="/page" />
  </div>
</Layout> 