---
import Paginator from "../../components/Paginator";
import PostCard from "../../components/PostCard";
import Layout from "../../layouts/Layout.astro";
import { SITE } from "../../utils/config";
import getPublishedPosts from "../../utils/getPublishedPosts";

export async function getStaticPaths() {
  const getPageNumbers = (numberOfPosts) => {
    const numberOfPages = numberOfPosts / SITE.postPerPage;

    let pageNumbers: number[] = [];
    for (let i = 1; i <= Math.ceil(numberOfPages); i++) {
      pageNumbers = [...pageNumbers, i];
    }

    return pageNumbers;
  };

  const posts = await getPublishedPosts();
  const pagePaths = getPageNumbers(posts.length).map((pageNum) => ({
    params: {
      slug: pageNum,
    },
    props: {
      posts: posts.slice(pageNum * SITE.postPerPage - SITE.postPerPage, pageNum * SITE.postPerPage),
    },
  }));
  return pagePaths;
}

const { slug } = Astro.params;
const { posts } = Astro.props;
const totalPosts = await getPublishedPosts()
const totalPages = Math.ceil(totalPosts.length / SITE.postPerPage);

---

<Layout title="Posts">
  <div class="flex justify-between flex-wrap mb-4">
    <div class="flex flex-col gap-y-4 my-4 flex-grow">
      {posts.map((post) => <PostCard post={post} />)}
    </div>
    <Paginator currentPage={slug} totalPages={totalPages} index="/" route="/page" client:load />
  </div>
</Layout>
